<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="conteudo">
        <h3>Livros</h3>
        <div>
            <table border="">
                <thead>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Data de lançamento</th>
                    <th>Editora</th>
                    <th>Ações</th>
                </thead>
                <tbody id="coluna">
                    <tr v-for="(livro) in livros" :key="livro.id">
                        <td>{{livro.id}}</td>
                        <td>{{livro.title}}</td>
                        <td>{{livro.release_date}}</td>
                        <td>{{livro.publisher}}</td>
                    </tr>
                    <tr>
                        <td><input type="text" disabled name="id" id="id"></td>
                        <td><input type="text" v-model="form.title" placeholder="Digite o title" name="title"
                                id="title"></td>
                        <td><input type="text" v-model="form.release_date" placeholder="Digite o release_date"
                                name="release_date" id="release_date"></td>
                        <td><input type="text" v-model="form.publisher" placeholder="Digite o publisher"
                                name="publisher" id="publisher"></td>
                        <td><button @click="salvarLivro()">Salvar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        Vue.createApp({
            data() {
                return {
                    form: {
                        title: '',
                        release_date: '',
                        publisher: ''
                    },
                    livros: []
                }

            },
            methods: {
                async buscarLivros() {
                    this.livros = await (await fetch('http://localhost:3000/book', {
                        method: 'GET'
                    })).json();
                },
                async salvarLivro() {
                    const livro = {
                        title: this.form.title,
                        release_date: this.form.release_date,
                        publisher: this.form.publisher
                    }

                    const resultado = await fetch('http://localhost:3000/book', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(livro)
                    });
                }
            },
            mounted() {
                this.buscarLivros();
            }
        }).mount('#coluna');
    </script>





</body>

</html>